<div class="data-table-wrapper">
  <div class="data-table-box">
    <table class="table {{classTable}}">
      <thead>
        <tr>
          <th [hidden]="!isExpandable" class="expand-column-header" width="10px"></th>
          <th [hidden]="!indexColumnVisible" class="index-column-header">
            <span [textContent]="indexColumnHeader"></span>
          </th>
          <th [hidden]="!selectColumnVisible" class="select-column-header" width="10px">
            <div class="md-checkbox">
              <input id="selectAllCheckboxHeader" [hidden]="!multiSelect" type="checkbox"
                [(ngModel)]="selectAllCheckbox" />
              <label for="selectAllCheckboxHeader"></label>
            </div>
          </th>
          <th *ngFor="let column of columns" #th [hidden]="columnVisibility(column)" [class.sortable]="column.sortable"
            [class.resizable]="column.resizable" [ngClass]="column.styleClassObject" class="column-header"
            [style.width]="column.width | px">
            <span (click)="headerClicked(column, $event)" [ngClass]="{'column-header-show-icon':column.sortable}">
              <span *ngIf="!column.headerTemplate && column.header !='Action'"
                style="color: #02394D;">{{column.header}}</span>
              <span *ngIf="!column.headerTemplate && column.header =='Action'">
                <button class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  style="float: right;">
                  <ion-icon name="chevron-down-circle-outline" class="action-button" style="zoom:1.2;"
                    (click)="showSelect = !showSelect;">
                  </ion-icon>
                </button>
                <div *ngIf="showSelect" style="display: flex;justify-content: flex-end;">
                  <div style="margin: 37px 0px 0px 4px;right: 107 !important;"
                    class="position-absolute rounded display-option shadow-sm border custom-side-menu-toggle Side-toggle-Menu-No-Close float-right">
                    <p class="border-bottom checkbox-class Side-toggle-Menu-No-Close md-checkbox"
                      *ngFor="let item of columns;let i=index" [hidden]="item.header == 'Action'">
                      <span class="md-checkbox"><input id="shivam{{i}}" type="checkbox" class="checkbox-class"
                          [(ngModel)]='item.visible' style="vertical-align: middle;">
                        {{item.header}}
                        <label for="shivam{{i}}" class="checkbox-class"></label></span>
                    </p>
                  </div>
                </div>
              </span>
              <span *ngIf="column.headerTemplate" [ngTemplateOutlet]="column.headerTemplate"
                [ngTemplateOutletContext]="{column: column}">
              </span>
              <span class="column-sort-icon" *ngIf="column.sortable">
                <span class="{{icons.sort}} column-sortable-icon" [hidden]="column.property === sortBy"></span>
                <span [hidden]="column.property !== sortBy">
                  <span class="{{icons.sortAsc}}" [hidden]="sortAsc"></span>
                  <span class="{{icons.sortDesc}}" [hidden]="!sortAsc"></span>
                </span>
              </span>
            </span>
            <span *ngIf="column.headerTemplateExtra" [ngTemplateOutlet]="column.headerTemplateExtra"
              [ngTemplateOutletContext]="{column: column}">
            </span>
            <span *ngIf="column.resizable" class="column-resize-handle"
              (mousedown)="resizeColumnStart($event, column, th)"></span>
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let item of items; let index=index" class="data-table-row-wrapper" dataTableRow #row [item]="item"
        [index]="index" (selectedChange)="onRowSelectChanged(row)">
      </tbody>
    </table>
    <div class="loading-cover" *ngIf="showReloading && reloading"></div>
  </div>

  <data-table-pagination *ngIf="pagination"></data-table-pagination>
</div>