<ion-header>
  <ion-toolbar>
    <ion-title>NGX Data Table</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">

    <div class="container container-fluid">
      <div>
        <div style="float: left;margin: -2px 2px 10px 20px;">
          <h3>Assets <b class="color-red">(92)</b></h3>
        </div>
        <div class="float-right">
          <ion-button class="extra-botton create-botton" color="danger" (click)="showCreate = !showCreate;">
            <ion-icon class="mr-5" name="add-circle-outline"></ion-icon>
            Create / Import Assets
          </ion-button>
          <div *ngIf="showCreate"
            class="position-absolute rounded shadow-sm border custom-side-menu-toggle Side-toggle-Menu-No-Close float-right"
            style="width: 245px;">
            <p class="border-bottom Side-toggle-Menu-No-Close font-size-18" style="font-size: 18px !important;">
              <ion-icon name="add-outline" class="color-red" style="margin: 0px 0px -3px 0px;"></ion-icon>
              Create Asset
            </p>
            <p class="border-bottom Side-toggle-Menu-No-Close font-size-18" style="font-size: 18px !important;">
              <ion-icon name="arrow-down-circle-outline" class="color-red" style="margin: 0px 0px -3px 0px;"></ion-icon>
              Import Assets
            </p>
          </div>
        </div>
        <div class="float-right">
          <ion-button class="extra-botton" color="medium" fill="outline" title="select assets to export"
            [disabled]="!disableExport">
            <ion-icon class="mr-5" name="arrow-up-circle-outline"></ion-icon>
            Export Assets
          </ion-button>
        </div>

        <div class="ion-search">
          <ion-searchbar placeholder="Search by Asset ID, Names & Description" mode="ios"></ion-searchbar>
        </div>
        <div class="float-right">
          <ion-button class="extra-botton" color="medium" fill="outline" *ngIf="!showFilter"
            (click)="showFilter =!showFilter">
            <ion-icon class="mr-5" name="filter-outline"></ion-icon>
            Filters
          </ion-button>
          <ion-button class="extra-botton" color="medium" *ngIf="showFilter" (click)="showFilter =!showFilter">
            <ion-icon class="mr-5" name="chevron-up-outline"></ion-icon>
            Filters
          </ion-button>
        </div>
        <div *ngIf="showFilter" class="filter" style="clear: both;margin: 0px 0px 20px 10px;padding-top: 18px;">
          <ion-item class="category" color="light">
            <ion-label>Category</ion-label>
            <ion-select multiple="true" cancelText="Cancel" interface="popover" (ionChange)="changeCategory();"
              [(ngModel)]="advanceFilter.category" okText="Okay!" mode="ios">
              <ion-select-option value="Rooms">Rooms</ion-select-option>
              <ion-select-option value="Racks">Racks</ion-select-option>
              <ion-select-option value="Cages">Cages</ion-select-option>
              <ion-select-option value="Cables">Cables</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="date" color="light">
            <ion-datetime displayFormat="MM/DD/YYYY" placeholder="Date" [(ngModel)]="advanceFilter.date"
              min="1994-03-14" max="2012-12-09"></ion-datetime>
          </ion-item>
          <ion-item class="location" color="light">
            <ion-label>Location</ion-label>
            <ion-select cancelText="Cancel" interface="popover" okText="Okay!" [(ngModel)]="advanceFilter.location"
              mode="ios">
              <ion-select-option value="bacon">Bacon</ion-select-option>
              <ion-select-option value="olives">Black Olives</ion-select-option>
              <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
              <ion-select-option value="peppers">Green Peppers</ion-select-option>
              <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
              <ion-select-option value="onions">Onions</ion-select-option>
              <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
              <ion-select-option value="pineapple">Pineapple</ion-select-option>
              <ion-select-option value="sausage">Sausage</ion-select-option>
              <ion-select-option value="Spinach">Spinach</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="location" color="light">
            <ion-label>Status</ion-label>
            <ion-select cancelText="Cancel" interface="popover" [(ngModel)]="advanceFilter.location" okText="Okay!"
              mode="ios">
              <ion-select-option value="Active">Active</ion-select-option>
              <ion-select-option value="Inactive">Inactive</ion-select-option>
              <ion-select-option value="Applied">Applied</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="location" color="light" *ngFor="let item of showMoreFilterModel" [hidden]="!item.select">
            <ion-label>{{item.name}}</ion-label>
            <ion-select cancelText="Cancel" interface="popover" [(ngModel)]="advanceFilter.asdasd" okText="Okay!"
              mode="ios">
              <ion-select-option value="Active">Active</ion-select-option>
              <ion-select-option value="Inactive">Inactive</ion-select-option>
              <ion-select-option value="Applied">Applied</ion-select-option>
            </ion-select>
            <button (click)="item.select = !item.select">
              <ion-icon class="close-filter" name="close-circle"></ion-icon>
            </button>
          </ion-item>
          <ion-item class="action" lines="none">
            <ion-button color="light" class="plus-button" *ngIf="!showMoreFilter"
              (click)="showMoreFilter = !showMoreFilter">
              <ion-icon name="add-outline" style="font-size: 20px;"></ion-icon>
            </ion-button>
            <ion-button color="medium" class="plus-button" *ngIf="showMoreFilter"
              (click)="showMoreFilter = !showMoreFilter">
              <ion-icon name="add-outline" style="font-size: 20px;"></ion-icon>
            </ion-button>
            <div *ngIf="showMoreFilter" style="margin-top: 25vh;"
              class="position-absolute rounded shadow-sm border custom-side-menu-toggle Side-toggle-Menu-No-Close">
              <p class=" Side-toggle-Menu-No-Close" *ngFor="let item of showMoreFilterModel"
                (click)="item.select = true;showMoreFilter=false">
                <b> {{item.name}} </b>
              </p>
            </div>
            <ion-button color="danger" class="apply">
              Apply
            </ion-button>
            <ion-icon class="" name="close-circle" style="color:#EE3124;margin-top: 4px;" (click)="resetFilter();">
            </ion-icon>
            <span style="color:#EE3124;margin-top: 4px;" (click)="resetFilter();">Clear All</span>
          </ion-item>
        </div>
        <div style="float: left;margin: 0px 2px 10px 0px;width: 100%;" *ngIf="showDelete">
          <ion-button class="extra-botton" color="medium" fill="outline" (click)="DeleteRow()">
            <ion-icon class="mr-5" name="trash-outline" style="color:#EE3124"></ion-icon>
            Delete All Selected
          </ion-button>
        </div>
      </div>
      <div>
        <data-table [indexColumn]="false" [selectColumn]="true" [items]="items" [totalRecords]="totalRecords"
          [size]="size" [multiExpandableRows]="false" [pagination]="true" (reload)="getData($event)"
          [expandableRows]="true" (rowClick)="rowClick($event)" (rowSelected)="selectedRow($event)"
          (actionSelect)="openAction($event)" (sortOrder)="Sorting($event)"
          (paginationChange)="changePagination($event)">
          <ng-template #iconExpand let-expanded="expanded">
            <span class="fa fa-lg fa-plus-circle text-success" *ngIf="!expanded"></span>
            <span class="fa fa-lg fa-minus-circle text-warning" *ngIf="expanded"></span>
          </ng-template>
          <ng-template #dataTableExpand let-itemExpand="itemExpand">
            <p class="" *ngIf="itemExpand.name != null"><b>Name :</b>{{itemExpand.name}}</p>
            <p class="" *ngIf="itemExpand.category != null"><b>Category
                :</b>{{itemExpand.category}}
            </p>
            <p class="" *ngIf="itemExpand.location != null"><b>location :</b>
              {{itemExpand.location}}</p>
            <p class="" *ngIf="itemExpand.description != null"><b>Description :</b> {{itemExpand.description}}
            </p>
          </ng-template>
          <data-table-column [property]="'assetId'" [header]="'Asset Id'" [sortable]="true" [visible]="true">
          </data-table-column>
          <data-table-column [property]="'name'" [header]="'Name'" [breakpoints]="'xxs,xs'" [visible]="true"
            [sortable]="true">
          </data-table-column>
          <data-table-column [property]="'category'" [header]="'Category'" [breakpoints]="'xxs,xs'" [sortable]="true"
            [visible]="true">
          </data-table-column>
          <data-table-column [property]="'location'" [header]="'Location'" [breakpoints]="'xxs,xs,sm'" [sortable]="true"
            [resizable]="true" [visible]="true">
          </data-table-column>
          <data-table-column [property]="'description'" [header]="'Description'" [breakpoints]="'xxs,xs,sm'"
            [sortable]="true" [resizable]="true" [visible]="true">
          </data-table-column>
          <data-table-column [property]="'Action'" [header]="'Action'" [sortable]="false" [visible]="true">
          </data-table-column>
        </data-table>
      </div>
    </div>
  </div>
</ion-content>